@font-face {
    font-family: "PP Editorial New";
    src: url(../asset/font/PPEditorialNew-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "PP Supply Mono";
    src: url(../asset/font/PPSupplyMono-Regular.otf);
    font-weight: 700;
}

@font-face {
    font-family: "Space Grotesk";
    src: url(../asset/font/SpaceGrotesk-VariableFont_wght.ttf);
}

// @font-face {
//     font-family: 'Dirtyline36Daysoftype2022';
//     src: url('../assets/fonts/Dirtyline 36daysoftype 2022.woff') format('woff'),
//          url('../assets/fonts/Dirtyline 36daysoftype 2022.woff2') format('woff2'),
//          url('../assets/fonts/Dirtyline 36daysoftype 2022.ttf') format('truetype');
//     font-style: normal;
//     font-weight: normal;
//     text-rendering: optimizeLegibility;
// }
