.background {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500%;
    z-index: -1000;
    // background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

    .circle {
        position: absolute;
        border-radius: 1000em;
        
        &__overlay {
            // width: 105em;
            // height: 105em;
            width: 162vh;
            height: 162vh;
            top: -75vh;
            background-color: #ffffff;
            mix-blend-mode: soft-light;
            opacity: 0.8;
            z-index: 1000;

            @media (max-width: 900px) {
                width: 110vh;
                height: 110vh;
                top: -45vh;
            }
        }
        
        &__gradient {
            // width: 110em;
            // height: 110em;
            width: 170vh;
            height: 170vh;
            top: -78.5vh;
            background: linear-gradient(120deg, #373FF6 0%, #8961F4 63%, #FF2400 100%);
            filter: blur(150px) saturate(150%);
            
            animation: rotate 20s linear infinite;
            @keyframes rotate {
                0% {
                    transform: rotate(0deg) ;
                }
                100% {
                    transform: rotate(360deg);
                }
            }

            @media (max-width: 900px) {
                width: 120vh;
                height: 120vh;
                top: -49vh;
                animation: rotate 15s linear infinite;
            }
        }
    }
}
