.footer_container {
    background-color: #9094FF;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 4em 4em 0 0;
    padding: 3.5em;
    color: #FFF6FD;
    align-items: flex-start;
    row-gap: 0.5em;
    width: 100vw;
    h3 {
        font-weight: 600;
        font-family: 'Funnel Sans';
        font-size: 24pt;

        @media screen and (max-width: 900px) {
            font-size: 2em;
            width: 150px;
        }

        }
    

    @media (max-width: 900px) {
        font-size: 0.8em;
        padding: 2em;
    }

    .footer-links {
        margin-top: 5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width: 900px) {
            flex-direction: column;
            justify-content: flex-start;
            width: auto;
            gap:4em;
            
        }
        
    }

    .getupdated {
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 0px;

        @media screen and (max-width: 900px) {
            flex-direction: row;
            align-items: center;
            
            
        }

        .newsletterlink {
            display: flex;
            flex-direction: row;
            width: 200px;
            gap: .3em;

            img {
                @media screen and (max-width: 900px) {
                    height: 1.5em;
                }
            }
        }

        .newsletterform {
            color: #FFF6FD;
                text-decoration: underline;
        }
        
    }

    .showup {
        display: flex;
        z-index: 1;
        flex-direction: column;
        gap: 0px;

        @media screen and (max-width: 900px) {
            flex-direction: row;
            
        }

        .eventinfo {
            display: flex;
        flex-direction: column;
        
        }

        .squireslink {
            text-decoration: underline;
            color: #FFF6FD;
            
            
        }

        .MLHlink {
            text-decoration: underline;
            color: #fff6fd93;
            margin-top: .6em;
        }
    }

    .contact {
        z-index: 1; 
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;

        @media screen and (max-width: 900px) {
            flex-direction: row;
            
            
        }

        .contactinfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1em;

            @media screen and (max-width: 900px) {
                gap: 2em;
            }

        }

        .reachout {
            display: flex;
            flex-direction: row;
            gap: 0.2em;

            @media screen and (max-width: 900px) {
            flex-direction: column;
        }
        }

        .email {
                
                color: #FFF6FD;
                text-decoration: underline;

                a {
                    color: #FFF6FD;
                }

                @media (max-width: 900px) {
                    font-size: 1em;
                }
            }
    }

    .hackviolet {
        display: flex;
        z-index: 1;
        flex-direction: row;
        align-items: center;
        column-gap: 1em;
        justify-content: space-between;
        width: 100%;

        .logo {
            margin-top: 7em;
            width: auto;
            height: 10em;

            @media screen and (max-width: 900px) {
                height: 4em;
                margin-top: 0em;
            }
        }

        .halfFlower {
            @media screen and (max-width: 900px) {
                height: 8em;
                width: auto;
                margin-top: 6em;
            }
        }

        @media (max-width: 900px) {
            flex-direction:column-reverse;
            row-gap: 0.8em;
        }

        .contact {
            line-height: 1;

            
            .label {
                @media (max-width: 900px) {
                    visibility: hidden;
                    height: 0;
                }
                font-size: 0.8em;
            }
            
        }
    }

    .copyright {
        z-index: 1; 
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        @media screen and (max-width: 900px)  {
                flex-direction: column;
                padding-top: 1em;
                align-items: center;
            }

        .bobaemoji {
            height: 1.5em;
            align-items: center;
        }

        .madewith {
            display: flex;
            flex-direction: row;

            
        }

        p a {
            
            color: #FFF6FD;
        }
    }

    .footerflower {
        position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0.7);
    transform-origin: bottom left;
    z-index: 0; 
    opacity: 0.8; 
    pointer-events: none; 

    @media screen and (max-width: 500px) {
                transform: scale(1.5);
                left: -1em;
                
            }
    }


}


// https://static.mlh.io/docs/mlh-code-of-conduct.pdf