.gallery_container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.gallery {
    display: flex;
    flex-direction: row;
}

.gallery img {
    width: 40em;
    height: auto;

    @media (max-width: 900px) {
        width: 50em;
    }
}
