.navigation {
    padding: 0 2%;
    top: 1em;
    position: fixed;
    width: 100%;
    font-family: "Funnel Sans";
    z-index: 1000;

    @media (max-width: 1360px) {
        padding: 0 11.875%;
        @media (min-resolution: 1.25dppx) {
            padding: 0 21.875%;
        }
    }
    @media (max-width: 900px) {
        padding: 0 15.875%;
        top: 1em;
    }

    
    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        height: 3.8em;
        width: 100%;
        padding: 0 3em;
        border-radius: 1em;
        border: 1px solid #0000001A;
        backdrop-filter: blur(16px) saturate(120%);
        background-color: #7441FF0D; 

        @media (max-width: 900px) {
            padding: 0 1em;
        }

        .nav-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2em;
        }

        .logo {
            font-weight: 800;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.6em 0;

                .icon {
                    width: 1.5em;
                }

                .text {
                    width: 6em;
                    padding-left: 1em;

                    @media (max-width: 900px) {
                        width: 5em;
                        padding-left: 0.2em;
                    }
                }

                p {
                    margin-top: 0.2em;
                    margin-left: 0.4em;
                    font-size: 1.2em;
                }
            }
        }

        .links {
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 0.2em;
            margin-left: 0.4em;
            font-size: 1.05em;
            color: rgba(3, 33, 43, 1);

            a {
                padding: 0.6em 1em;

                &:after {
                    content: "";
                    display: block;
                    height: 1px;
                    background: #3a475a;

                    transition: all 0.1s ease-out;
                    opacity: 0;
                    transform: translate(0, 0.2em) scaleX(0.98);
                }
                
                &:hover:after {
                    transition: all 0.1s ease-out;
                    opacity: 1;
                    transform: translate(0, -0.05em) scaleX(0.98);
                }
            }

            @media (max-width: 900px) {
                display: none;
            }
        }

        .resources {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .resources_button {
                cursor: pointer;
                padding: 0.5em 2.3em;
                padding-top: 0.6em;
                //background-color: #6c42e0;
                border-radius: 100em;
                border-color: transparent;
                
                display: flex;
                justify-content: center;
                align-items: center;
                
                font-size: 0.9em;
                color: rgba(3, 33, 43, 1);

                transition: background-color 0.1s ease-out;

                &:hover {
                    background-color: #6c42e0DD;
                }

                @media (max-width: 900px) {
                    font-family: "Funnel Sans";
                    font-size: 0.8em;
                    padding: 0.5em 1.5em;
                }
            }
        }
        .Register-btn {
            display: flex;
            flex-direction: row;
            margin-right: 4em;
            height: 46px;
            border-radius: 99px;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            background: linear-gradient(82deg, #2718FF 5.98%, #9094FF 104.18%);
            box-shadow: 0 2px 7.6px 0 rgba(0, 0, 0, 0.25);

            .register-button {
                background-color: #00000000;
                color: #ECF7FF;
                font-weight: 400;
                padding: 0px 40px 0px 10px;
            }

            img {
                transform: scale(70%);
            }
        }
    }

    .expanded_section {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1em;
        justify-items: start; 
        width: 100%;
        border-radius: 1em 1em 1em 1em;
        border: 1px solid #0000001A;
        padding: 1em 2em 1em 2em; 
        backdrop-filter: blur(16px) saturate(120%);
        background-color: #ECF7FF; 
        opacity: 0; 
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;

        @media (max-width: 900px) {
            font-size: 1em;
        }

        .resources_page_link {
            color: #6c42e0;
        }
    }
    
    .expanded {
        opacity: 1;
    }
    
    .collapsed {
        opacity: 0; 
        pointer-events: none;
        touch-action: none;
        height: 0;
    }
       
}