.pinwheel {

  animation: spin 20s linear infinite; 
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto; 
  object-fit: contain;  
  transform-origin: center center;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}