html {
    scroll-behavior: smooth;
}

.resources {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 21.875%;
    @media (max-width: 1360px) {
        padding: 0 8%;
    }
    @media (max-width: 900px) {
        padding: 0 4%;
        row-gap: 2em;
    }
    row-gap: 8em;

    overflow-x: hidden;

    .purpleGradContainer {
        position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                z-index: -5;
                pointer-events: none;
                background: radial-gradient(156.65% 76.86% at 50% 1.99%, rgba(144, 148, 255, 0.65) 2.27%, rgba(226, 201, 255, 0.87) 15.46%, #F7FBFF 43.78%);
            }
    
    .landing {
        text-align: center;
        

        @media (max-width: 900px) {
            height: 70vh;
        }

        .header {
            margin-top: 36vh;

            @media (max-width: 900px) {
                margin-top: 20vh;
            }

            h1 {
                font-family: "Obviously Narrow", sans-serif;
                font-weight: 700;
                font-size: 7.6em;
                font-size: 6.5vw;
                
                @media (max-width: 1360px) {
                    font-size: 11vw;

                    @media (min-resolution: 1.25dppx) {
                        font-size: 8vw;
                    }
                }
                @media (max-width: 900px) {
                    font-size: 15vw;
                    word-wrap: break-word;
                    white-space: normal;
                    line-height: 1.2;
                }
            }
        
            .copy {
                margin-top: -1.6em;
                display: flex;
                flex-direction: column;

                @media (max-width: 900px) {
                    margin-top: 1em;
                    font-size: 0.8em;
                }
        
                p {
                    font-family: "Funnel Sans";
                    font-weight: 400;
                    font-size: 1.2em;
                    line-height: 1.4em;

                    @media (max-width: 900px) {
                        font-size: 1em;
                    }
                }

                .p1 {
                    animation-delay: 0s;
                }
                .p2 {
                    margin-top: 5em;
                    animation-delay: 50ms;
                }
            }
        
            .buttons {
                margin-top: 1.8em;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 1em;
                
                @media (max-width: 900px) {
                    flex-wrap: wrap;
                    margin-top: 1.2em;   
                    column-gap: 0.8em;
                    row-gap: 1.5em
                }
            }
        
            .socials {
                margin-top: 1em;

                @media (max-width: 900px) {
                    margin-top: 0.8em;
                }
            }
        }
    }

    .quicklinks {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5em;
        margin-top: -6em;
        margin-bottom: 4em;
        
        
        .quicklink {
            font-family: "Funnel Sans", sans-serif;
            font-size: 1em;
            font-weight: 300;
            color: #2718FF;
            border: 2px solid #2718FF;
            background-color: white;
            text-decoration: none;
            padding: 0.5em 1em;
            border-radius: 99px;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: #2718FF;
                
                color: #FFFFFF;
            }

            @media screen and (max-width: 900px) {
                font-size: 0.9em;
                padding: 0.4em 0.8em;
                
            }
        }


    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 4em;
        @media (max-width: 900px) {
            padding: 0 1em;
        }
    
        .copy {
            margin-bottom: 1em;
            font-family: "Funnel Sans";
            font-size: 1.4em;
            font-weight: 400;
            line-height: 1.4em;
            width: 100vw;
            max-width: 45vw;
        
            p {
                margin: 1.2em 1.2em;
            }

            ul {
                margin-top: 1.2em;
            }
            li {
                margin-bottom: 0.8em;
            }

            .indented {
                margin-left: 20px;
            }
            
            @media (max-width: 1360px){
                width: 100vw;
                max-width: 65vw;
    
                @media (min-resolution: 1.25dppx) {
                    width: 100vw;
                    max-width: 65vw;
                }
            }
            @media (max-width: 900px) {
                font-size: 1em;
                width: 100vw;
                max-width: 80vw;
            }
        }
    }

    .section {
        scroll-margin-top: 10em;

        .header {
            text-align: center;
            font-family: "Obviously Narrow", sans-serif;
            font-size: 4em;
            font-weight: 700;
            font-style: italic;
            color: #03212B;

            @media (max-width: 900px) {
                font-size: 2.5em;
            }
        }

        .text {
            font-size: 0.9em;
        }
    }

    .submission {
        scroll-margin-top: 10em;
        .submission_header {
            text-align: center;
            font-family: "Obviously Narrow", sans-serif;
            font-size: 4em;
            font-weight: 700;
            font-style: italic;
            color: #03212B;

            @media (max-width: 900px) {
                font-size: 2.5em;
            }
        }
    }

    .starter {
        scroll-margin-top: 10em;
        .starter_header {
            text-align: center;
            font-family: "Obviously Narrow", sans-serif;
            font-size: 4em;
            font-weight: 700;
            font-style: italic;
            color: #03212B;

            @media (max-width: 900px) {
                font-size: 2.5em;
            }
        }
    }

    .footer {
        margin-top: 15em;
        width: 100vw;
    }

    .footer_blob {
        position: absolute;
        overflow: visible;
        object-fit: none;
        height: 50em;
        width: 1000em;
        bottom: 0;
        left: 0;
        z-index: -1000;
        filter: saturate(1.1) brightness(1.1);
    }
}
