.team {
    display: flex;
    flex-direction: column;
    color: #3A475A;
    font-family: "Funnel Sans";
    
    .committee {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        @media screen and (max-width: 900px) {
            margin-bottom: 1em;            
        }

        .committee_text {
            text-transform: uppercase;
            font-size: 3em;
            margin-bottom: 0.2em;
            font-family: "Obviously Narrow", sans-serif;
            font-weight: 700;
            color: #9094FF;
        }

        .members {
            display: flex;
            column-gap: 2em;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 1200px) {
                column-gap: 2em;
            }
            @media screen and (max-width: 900px) {
                column-gap: 1em;
                row-gap: 0.5em;
                flex-wrap: wrap;
            }

            .member {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                width: 12em;
                height: 17em;

                @media screen and (max-width: 1200px) {
                    width: 11em;
                    height: 16em;
                }
                @media screen and (max-width: 900px) {
                    width: 10em;
                    height: 13em;
                }
                
                .image {
                    width: 11em;
                    height: 11em;
                    
                    overflow: hidden;
                    background-color: #F7FBFF;
                    margin-bottom: 0.6em;

                    @media screen and (max-width: 1200px) {
                        width: 11em;
                        height: 11em;
                    }
                    @media screen and (max-width: 900px) {
                        width: 9em;
                        height: 9em;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .name {
                    font-weight: 600;
                    text-align: center;
                    @media (max-width: 900px) {
                        font-size: 0.8em;
                    }
                }
                
                .role {
                    font-weight: 400;
                    text-align: center;
                    line-height: 1.2em;
                    @media (max-width: 900px) {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}
